.h1{
    text-align: center;
    display: flex;
    align-items: center;
}

h2{
    color: #218838;
}
section{
    margin-top:20px;
    margin-left: 20px;
}

.form-group{
    width: 700px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

